<h1 class="page-header">Pets</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td>
          <%= form_for :dog, url: { action: 'remove' } do %>
              <%= text_field_tag :pet_id, pet.id, type: 'hidden' %>
              <%= submit_tag "Remove", class: 'btn btn-default btn-xs' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="well">
  <h3>Add Pet</h3>

  <%= form_for :pets,url: { action: 'add'} do  %>
      <%= label_tag :name, "Name" %><br>
      <%= text_field_tag :name, "", autofocus:true, required: true %><br>

      <%= label_tag :year, "Year(s)" %><br>
      <%= number_field_tag :year, "1",  min: '0', max: '20', step: '1'  %><br>

      <%= label_tag :months, "Month(s)" %><br>
      <%= number_field_tag :months, "1",  min: '1', max: '12', step: '1'  %><br>

      <%= label_tag :gender, "Gender" %><br>
      <%= select_tag :gender, options_for_select([ 'Male', 'Female' ], 'Gender') %><br><br>

      <%= label_tag :pet_type %><br>
      <%= select_tag :pet_type, options_for_select([ 'Dogs', 'Cats', 'Reptiles', 'Rabbits' ]) %><br><br>

      <%= label_tag :size %><br>
      <%= select_tag :size, options_for_select([ 'Toy (< 10 pounds)', 'Small (10-20 pounds)', 'Medium (20-40 pounds)', 'Large (40-80 pounds)', 'Extra Large (80+ pounds)' ]) %><br><br>

      <%= label_tag :description %><br>
      <%= text_area_tag :description, "", :size =>"65x10", required: true %><br>

      <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
