<div class="container">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <h3>Personal Information</h3>
    <hr><br>
    <%= form_for :user, url: { action: 'update_profile' }, html: { class: 'form-horizontal' } do |f| %>
        <div class="form-group">
          <div class="col-lg-6">
            <%= f.label :first_name, 'First Name' %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          <div class="col-lg-6">
            <%= f.label :last_name, 'Last Name' %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <%= f.label :location, 'Location' %>
            <input id="autocomplete" placeholder="Enter location" type="text" class="form-control">
          </div>
          <div class="col-lg-6">
            <%= f.label :phone_no, 'Phone No.' %>
            <%= f.text_field :phone_no, placeholder: '(xxx) xxx-xxxx', class: 'form-control' %>
          </div>
        </div>
        <%= f.text_field :lat, type: 'hidden' %>
        <%= f.text_field :lng, type: 'hidden' %>
        <%= f.submit 'Update Details', class: 'btn btn-success' %>
    <% end %>
  </div>
  <div class="col-lg-2"></div>
</div>