<%= render 'search_form' %>

<div class="row" style="margin-top: 30px;">
  <div class="col-lg-7 col-md-7">
    <div id="sitters">
      <% if @users.count > 0 %>
          <% @users.each do |user| %>
              <div class="panel panel-default">
                <div class="panel-body" id="details">
                  <a href="/user/<%= user.username %>"><%= user.first_name.empty? ? user.username : user.full_name %></a>
                  <% if user_signed_in? %>
                      <% if Favourite.find_by(cust_id: current_user.id, provider_id: user.id) %>
                          <% attr = 'danger' %>
                          <% val = 'Unfavourite' %>
                      <% else %>
                          <% attr = 'primary' %>
                          <% val = 'Favourite' %>
                      <% end %>
                      <button class="btn btn-<%=attr%>" id="favourite" onclick="favourite(<%= user.id %>)"><%=val%></button>
                  <% end %>
                </div>
              </div>
          <% end %>
      <% else %>
          <h3>NO sitters found!!</h3>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4">
    <div id="map"></div>
  </div>
  <div class="col-lg-1 col-md-1"></div>
</div>

<script>
  var map;
  var markers = [];

  var x = document.getElementById("demo");
  var geocoder = new google.maps.Geocoder();

  $(document).ready(function () {
    getLocation();
  });

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  <% if @users.count > 0 %>
  var coordinates = {lat: <%= @users.first.lat %>, lng: <%= @users.first.lng %>};
  <% else %>
  var coordinates = {lat: <%= @lat %>, lng: <%= @lng %>};
  <% end %>

  function showPosition() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: coordinates,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    <% @users.each do |user| %>
    display(<%= user.lat %>, <%= user.lng %>, '<%= user.username %>');
    <% end %>
  }

  function display(lat, lng, username) {
    var myLatlng = new google.maps.LatLng(lat, lng);

    var marker = new google.maps.Marker({
      position: myLatlng,
      title: username
    });

    // To add the marker to the map, call setMap();
//    marker.setMap(map);
    markers.push(marker);
    AddMarkers();
    onDragMapChange();
  }

  function DeleteMarkers() {
    //Loop through all the markers and remove
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  };

  function AddMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function onDragMapChange() {
    map.addListener('drag', function() {
      //console.log(map.getCenter().lat());
      //console.log(map.getCenter().lng());
      coordinates = {
        lat: map.getCenter().lat(),
        lng: map.getCenter().lng()
      };
      $.post(
          '/api/search',
          {
            lng: coordinates['lng'],
            lat: coordinates['lat'],
            autocomplete: $('#autocomplete').val(),
            start_date: $('#start_date').val(),
            end_date: $('#end_date').val()
          },
          function(data) {
            //console.log(data);
            $('#sitters').empty();

            DeleteMarkers();

            var responseLen = data['users'].length;
            if (data['users'].length > 0) {
              for (var i = 0; i < responseLen; i++) {
                //console.log(data['users'][i.toString()]['first_name']);
                var username = data['users'][i.toString()]['username'];
                if (data['users'][i.toString()]['first_name'] != null) {
                  var name = data['users'][i.toString()]['first_name'] + " " + data['users'][i.toString()]['last_name'];
                } else {
                  var name = username;
                }
                $('#sitters').append("<div class='panel panel-default'> <div class='panel-body' id='details'> <a href='/user/" + username + "'>" + name + "</a></div></div>");
                var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(data['users'][i.toString()]['lat'], data['users'][i.toString()]['lng']),
                  title: username
                });

                // To add the marker to the map, call setMap();
                markers.push(marker);
                AddMarkers();
              }
            }
            else{
              $('#sitters').append('<h3>NO sitters found!!</h3>');
            }
          }
      )
    });
  }
</script>
