<%= render 'search_form' %>

<input id="autocomplete" placeholder="Enter Location.. " size="50px;" type="hidden">

<div class="row" style="margin-top: 30px;">
  <div class="col-lg-7 col-md-7">
    <% if @users.count > 0 %>
        <% @users.each do |user| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <% if user.first_name.empty? %>
                    <%= user.username %>
                <% else %>
                    <%= user.full_name %>
                <% end %>
              </div>
            </div>
        <% end %>
    <% else %>
        <h3>NO sitters found!!</h3>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-4">
    <div id="map"></div>
  </div>
  <div class="col-lg-1 col-md-1"></div>
</div>

<script>
  var map;

  var x = document.getElementById("demo");
  var geocoder= new google.maps.Geocoder();

  $(document).ready(function(){
    getLocation();
  });

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  <% if @users.count > 0 %>
  var coordinates = {lat: <%= @users.first.lat %>, lng: <%= @users.first.lng %>};
  <% else %>
  var coordinates = {lat: <%= @lat %>, lng: <%= @lng %>};
  <% end %>

  function showPosition() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: coordinates,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    <% @users.each do |user| %>
    display(<%= user.lat %>, <%= user.lng %>);
    <% end %>
  }

  function display(lat,lng){
    var myLatlng = new google.maps.LatLng(lat,lng);

    var marker = new google.maps.Marker({
      position: myLatlng,
      title: "Hello World!"
    });

    // To add the marker to the map, call setMap();
    marker.setMap(map);
  }
</script>
