<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBYiiD8XSVnbCc96hv5GTLhM-8VHuQgbc&v=3.exp&libraries=visualization,places"></script>

<style>
  #map {
    width: 400px;
    height: 400px;
  }
</style>

<div class="container" style="margin-top: 30px;">
  <div class="col-lg-7 col-md-7">
    <% if @users.count > 0 %>
        <% @users.each do |user| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <%= user.full_name %>
              </div>
            </div>
        <% end %>
    <% else %>
        <h3>NO sitters found!!</h3>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-4">
    <div id="map"></div>
  </div>
  <div class="col-lg-1 col-md-1"></div>
</div>


<script>
  var map;
  function initMap() {
    console.log('yea');
  }

  var x = document.getElementById("demo");
  var geocoder= new google.maps.Geocoder();

  $(document).ready(function(){
    getLocation();
  });

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  //  var lati;
  //  var lngi;
  <% if @users.count > 0 %>
  var coordinates = {lat: <%= @users.first.lat %>, lng: <%= @users.first.lng %>};
  <% else %>
  var coordinates = {lat: <%= @lat %>, lng: <%= @lng %>};
  <% end %>

  function showPosition(position) {

    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: coordinates,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    <% @users.each do |user| %>
    // setTimeout(getLngLat(),5000);
    display(<%= user.lat %>, <%= user.lng %>);
    <% end %>

  }

  //  function getLngLat(zipCode){
  //    var address = zipCode;
  //    geocoder.geocode( { 'address': '' + address}, function(results, status) {
  //      if (status == google.maps.GeocoderStatus.OK) {
  //        //alert('lol'+results[0].geometry.location.lat());
  //        lati = results[0].geometry.location.lat();
  //        lngi = results[0].geometry.location.lng();
  //        //console.log(checkInOrOut(lati,, lngi, ));
  //        if(checkInOrOut(lati, lngi, , ) > 10) {
  //          //alert('hello');
  //          setTimeout(display(zipCode),5000);
  //        }
  //      }
  //    });
  //  }

  //  function checkInOrOut(lat1, lat2, lon1, lon2) {
  //    var radians = Array.prototype.map.call(arguments, function(deg) { return deg/180.0 * Math.PI; });
  //    //console.log(radians);
  //    var lat1 = radians[0], lon1 = radians[1], lat2 = radians[2], lon2 = radians[3];
  //    var R = 6372.8; // km
  //    var dLat = lat2 - lat1;
  //    var dLon = lon2 - lon1;
  //    var a = Math.sin(dLat / 2) * Math.sin(dLat /2) + Math.sin(dLon / 2) * Math.sin(dLon /2) * Math.cos(lat1) * Math.cos(lat2);
  //    var c = 2 * Math.asin(Math.sqrt(a));
  //    return R * c;
  //  }

  function display(lat,lng){

    var myLatlng = new google.maps.LatLng(lat,lng);

    var marker = new google.maps.Marker({
      position: myLatlng,
      title: "Hello World!"
    });

    // To add the marker to the map, call setMap();
    marker.setMap(map);
  }
</script>