<% @dogs.each do |dog| %>
  <div class="container well">
    <%= dog.name %>
    <%= form_for :dog, url: { action: 'remove' } do %>
        <%= text_field_tag :dog_id, dog.id, type: 'hidden' %>
        <%= submit_tag "Remove" %>
    <% end %>
  </div>
<% end %>

<br><br>

<%= form_for :user,url: { action: 'add'} do  %>
		<%= label_tag :name, "Name" %><br>
		<%= text_field_tag :name, "", autofocus:true, required: true %><br>
		<%= label_tag :year, "Year(s)" %><br>
		<%= number_field_tag :year, "1",  min: '0', max: '20', step: '1'  %><br>
		<%= label_tag :months, "Month(s)" %><br>
    <%= number_field_tag :months, "1",  min: '1', max: '12', step: '1'  %><br>
		<%= label_tag :gender, "Gender" %><br>
		<%= select_tag :gender, options_for_select([ 'Male', 'Female' ], 'Gender') %><br><br>
    <%= label_tag :breed %><br>
    <%= select_tag :breed, options_for_select([ 'Affenpinscher', 'Afghan Hound', 'Airedale Terrier', 'Akita' ], 'Affenpinscher') %><br><br>
    <%= label_tag :size %><br>
    <%= select_tag :size, options_for_select([ 'Toy (< 10 pounds)', 'Small (10-20 pounds)', 'Medium (20-40 pounds)', 'Large (40-80 pounds)', 'Extra Large (80+ pounds)' ]) %><br><br>
    <%= label_tag :description %><br>
    <%= text_area_tag :description, "", :size =>"65x10", required: true %><br>
    <%= submit_tag "Submit" %>
<% end %>