<h1 class="page-header">Book Now</h1>

<div class="well">
  <h3>Add Pet</h3>

  <%= form_for :pet, html: { id: 'petForm' } do  %>
    <%= label_tag :name, "Name" %><br>
    <%= text_field_tag :name, "", autofocus:true, required: true %><br>

    <%= label_tag :year, "Year(s)" %><br>
    <%= number_field_tag :year, "1",  min: '0', max: '20', step: '1'  %><br>

    <%= label_tag :months, "Month(s)" %><br>
    <%= number_field_tag :months, "1",  min: '1', max: '12', step: '1'  %><br>

    <%= label_tag :gender, "Gender" %><br>
    <%= select_tag :gender, options_for_select([ 'Male', 'Female' ], 'Gender') %><br><br>

    <%= label_tag :breed %><br>
    <%= select_tag :breed, options_for_select([ 'Affenpinscher', 'Afghan Hound', 'Airedale Terrier', 'Akita' ], 'Affenpinscher') %><br><br>

    <%= label_tag :size %><br>
    <%= select_tag :size, options_for_select([ 'Toy (< 10 pounds)', 'Small (10-20 pounds)', 'Medium (20-40 pounds)', 'Large (40-80 pounds)', 'Extra Large (80+ pounds)' ]) %><br><br>

    <%= label_tag :description %><br>
    <%= text_area_tag :description, "", :size => "45x5", required: true %><br>

    <%= submit_tag "Add Pet", class: "btn btn-primary" %>
  <% end %>
</div>

<h3>Select your Pet</h3>

<div class="list-group" id="pet-list">
  <% @pets.each do |pet| %>
    <a href class="list-group-item" data-pet-id="<%= pet.id %>">
      <%= pet.name %>
    </a>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-8 col-md-8">
    <%= form_for :booking, url: { action: 'create' }, html: { id: 'bookingForm' } do %>
        <div class="form-group">
          <%= text_area_tag :description, '', placeholder: 'Describe', class: 'form-control', size: '60x10' %>
        </div>
        <%= text_field_tag :pet_id, '', type: 'hidden' %>
        <%= text_field_tag :stripeToken, '', type: 'hidden' %><br>
        <%= button_tag 'Book', class: 'btn btn-success', type: 'button', id: 'bookButton' %>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-4">
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Cost Per Day:</h4>
        <p id="perDayPrice" class="list-group-item-text">$<%= @per_day_price %></p>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">No of Days:</h4>
        <p id="days" class="list-group-item-text"><%= @no_of_days %></p>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">Website Commission</h4>
        <p id="websiteCommission" class="list-group-item-text"><%= 10 %>%</p>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">Total Cost:</h4>
        <p id="totalCost" class="list-group-item-text">$<%= (@total_price * 1.1).round(2) %></p>
      </div>
    </div>
  </div>
</div>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= ENV["PUBLISHABLE_KEY"] %>',
    image: '//avatars3.githubusercontent.com/u/8962264?v=3&s=460',
    locale: 'auto',
    closed: function() {
      $("#bookButton").removeAttr('disabled');
      $('#bookButton').html('Book');
    },
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      //alert(token.id);
      $('#stripeToken').val(token.id);
      $('#bookingButton').prop("disabled", true);
      //$('#totalAmount').val(parseInt($('#totalCost').text().substring(1), 10) * 100);
      //alert(parseInt($('#totalCost').text().substring(1), 10) * 100);
      $('#bookingForm').submit();
    }
  });

  $('#bookButton').on('click', function(e) {
    if ($('#pet_id').val().length == 0) {
      alert('Select pet');
    }
    else {
      $("#bookButton").prop("disabled", true);
      $('#bookButton').html('Processing.....');
      // Open Checkout with further options
      handler.open({
        name: 'Chashmeet Singh',
        email: '<%= current_user.email %>',
        amount: <%= @total_price * 100 * 1.1 %>
      });
      handler.clos
      e.preventDefault();
    }
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
