<h1 class="page-header">My Booking Requests</h1>
<% @bookings.each do |book| %>
    <div class="well">
      <div class="row">
        <div class="col-lg-8">
          <h4>Description:</h4> <%= book.description %><br>
          <h4>Customer Username:</h4> <%= User.find(book.cust_id).username %>
        </div>
        <div class="col-lg-4">
          <p style="text-align: right"><%= distance_of_time_in_words_to_now(book.created_at) %></p>
          <%= form_for :booking, url: { action: 'accept' } do %>
              <%= text_field_tag :booking_id, '', type: 'hidden', value: book.id %>
              <% if book.paid? %>
                  <%= submit_tag 'Accepted', class: 'btn btn-success', disabled: 'disabled', style: 'align: right;' %>
              <% else %>
                  <%= submit_tag 'Accept Request', class: 'btn btn-danger', style: 'align: right;' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
