<div id="form_errors">
  <div class="alert-custom">Start Date must be before End Date</div>
</div>

<div id="form_errors1">
  <div class="alert-custom">Please choose start and end date</div>
</div>

<h1 class="page-header">
  <%= @user.first_name %> <%= @user.last_name %> (<%= @user.username %>)
</h1>

<dl>
  <dt>Address:</dt>
  <dd>
    <%= @user.address %><br>
    <%= @user.city %>, <%= @user.state %><br>
    <%= @user.country %><br>
  </dd>

  <dt>Phone Number:</dt>
  <dd><%= @user.phone_no %></dd>

  <dt></dt>
  <dd><%= @user.lat %> <%= @user.lng %></dd>
</dl>

<h2>Request Booking</h2>

<%= form_for :booking, url: { action: 'new', controller: 'booking' }, html: { id: 'booking_form' } do |f| %>
  <div class="form-group">
    <%= f.text_field :start_date, placeholder: 'Start Date', size: '20', required: true, id: 'start_date', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.text_field :end_date, placeholder: 'End Date', size: '20', required: true, id: 'end_date', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.text_field :provider_id, type: 'hidden', value: @user.id %>
  </div>

  <%= f.button 'Request Booking', class: 'btn btn-primary request-booking', type: 'button' %>
<% end %>

<h3>Per day cost</h3>
<p>$ <%= @user.per_day_price %></p>

<% if user_signed_in? %>
    <% if Favourite.find_by(cust_id: current_user.id, provider_id: @user.id) %>
        <% attr = 'danger' %>
        <% val = 'Unfavourite' %>
    <% else %>
        <% attr = 'primary' %>
        <% val = 'Favourite' %>
    <% end %>
    <button class="btn btn-<%=attr%>" id="favourite" onclick="favourite(<%= @user.id %>)"><%=val%></button>
<% end %><br><br>

<h3>Reviews: </h3>
<hr>

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <% @ratings.each do |rating| %>
      <div class="well">
        <h4><%= User.find(rating.cust_id).username %></h4>
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset><br>
        <%= rating.comment %>
        <script>
          $(document).ready(function(){
            $(":radio[value='<%= rating.rating %>']").prop("checked", true).attr('disabled',true);
            $("input:radio").attr('disabled',true);
          });
        </script>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>

<script>

  Date.prototype.addDays = function(days) {
    var dat = new Date(this.valueOf());
    dat.setDate(dat.getDate() + days);
    return dat;
  }

  var dates = [];

  <% @bookings.each do |book| %>
  var startDate = new Date("<%= book.start_date %>");
  var endDate = new Date("<%= book.end_date %>");
  while(startDate <= endDate) {
    dates.push(jQuery.datepicker.formatDate('yy-mm-dd',startDate));
    startDate = startDate.addDays(1);
  }
  <% end %>

  //console.log(dates);

  function DisableSpecificDates(date) {
    var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
    //console.log(string);
    if ($.inArray(string, dates) == -1) {
      //console.log(string);
      return [true];
    }
    else {
      //console.log(string);
      return [false];
    }

  }

  $(function() {
    if($('#start_date').length) {
      $("#start_date").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd', beforeShowDay: DisableSpecificDates});
      $("#end_date").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd', beforeShowDay: DisableSpecificDates});
    }
  });
</script>
